@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 5% 30%;
  margin: 0 auto;
  background-color: rgba(237, 231, 231, 0.732);
}

form {
  padding: 30px;
  border: 2px dashed #9a0f00;
  background-color: white;
  border-radius: 5px;
}
h2 {
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  color: #9a0f00;
  padding: 15px 0 5px 0;
  font-weight: 700;
}
select {
  width: 200px;
  height: 40px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #c0392b;
  border: 2px solid #9a0f00;

  color: white;
  padding: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  outline: none;
}

select:hover,
select:focus {
  color: #9a0f00;
  background-color: rgba(254, 254, 254, 0.918);
}

#orderBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 40px;
  padding: 0 32px;
  margin-top: 40px;
  outline: none;
  border: none;
  border-radius: 5px;

  background: #9a0f00;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#orderBtn:hover {
  opacity: 0.9;
}

#orderBtn:active {
  transform: translate(1px, 1px);
}
#invoice__wrapper {
  margin-top: 20px;
  background-color: rgba(244, 255, 28, 0.478);
}

#invoice {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  border: 1px dashed gray;
  padding: 15px;
}

#invoice p {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  padding: 5px;
}

.github {
  display: block;
  width: 200px;
  height: 45px;
  padding-left: 45px;
  background-image: url('./../assets/svg/github.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}

footer,
header {
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 1px -7px 14px -1px rgba(34, 60, 80, 0.2);
  margin: 0 auto;
  background-color: #181617;
  padding-left: 30%;
}

a {
  color: #cbd5de;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
table th {
  font-weight: bold;
  padding: 5px;
  background: #9a0f00;
  color: white;
  border: 1px solid #dddddd;
}
table td {
  color: #9a0f00;
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}
